body {background-color: rgba(5, 249, 156, 0.808);} 
#loginbtn { height: 35px; 
    width: 80px; 
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start; 
    position: relative; 
    position: absolute; 
    top: 20px;
    right: 45px;
    position: absolute;    background-color: yellow;  color: blue; }


.a { height: 35px; ;
    width: 115px; 
    background-color: yellow;  color: blue; 
}
#checkoutBtn { height: 35px; 
     width: 100px;
     background-color: yellow;  color: blue; }